* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(49, 46, 46);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 0.707);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(221, 221, 221);
}

body {
  min-height: 100vh;
  background-color: rgb(192, 191, 191);
}
/* NAVBAR */

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(49, 46, 46);
}

.logo {
  height: 60px;
  line-height: 60px;
  color: white;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: rgb(221, 221, 221);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: rgb(49, 46, 46);
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 2px;
  background: rgb(49, 46, 46);
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  background: rgb(221, 221, 221);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
  background: rgb(221, 221, 221);
}

#toggle.active {
  background: rgb(87, 81, 81);
}

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: rgb(49, 46, 46);
  transition: 0.5s;
  width: 0px;
  overflow: hidden;
}

#navbar.active {
  width: auto;
}

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: white;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 2px;
}

#navbar ul li a:hover {
  color: rgb(49, 46, 46);
  background: rgb(221, 221, 221);
}

@media (max-width: 991px) {
  #navbarr {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar.active {
    width: 100%;
    height: auto;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* END NAVBAR */

/* CONTENT SECTION */

.meals-heading {
  margin-top: 80px;
}

.meals-heading h1 {
  color: rgb(49, 46, 46);
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

.grid-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.flexbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

.meals {
  margin-top: 20px;
  padding-left: 60px;
  background: rgb(221, 221, 221);
  border-radius: 10px;
  height: 300px;
  width: 750px;
  height: 280px;
  transform: translateX(50px);
  transition: 2s;
}

.meals:hover {
  box-shadow: 10px 10px grey;
}

.curried-shrimp,
.seared-salmon {
  transform: translateX(550px);
}

.curried-shrimp,
.seared-salmon ul {
  display: flex;
  flex-direction: row;
}

.salad {
  margin-bottom: 30px;
}

.meals img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.meals h2,
h3 {
  margin-left: 20px;
  font-weight: 500;
  letter-spacing: px;
}

.meals ul {
  list-style: none;
  margin-left: 20px;
  font-size: small;
}

/* END CONTENT SECTION */

/* FOOTER */

footer {
  background-color: rgb(49, 46, 46);
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.smlinks {
  margin-right: 30px;
}

.about-us {
  width: 40%;
}

footer h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}

footer h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: red;
}

.about-us p {
  color: grey;
}

.smlinks {
  margin-top: 20px;
  display: flex;
}

.smlinks li {
  list-style: none;
}

.smlinks li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.facebook {
  color: white;
  font-size: 20px;
}

.quick-links {
  position: relative;
  width: 25%;
}

.quick-links ul {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.quick-links ul li {
  list-style: none;
}

.quick-links ul li a {
  color: grey;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quick-links ul li a:hover {
  color: rgb(221, 221, 221);
}

.info li {
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
}

.info li span:nth-child(1) {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.info li span {
  color: black;
}

.info li span:nth-child(2) {
  color: grey;
}

.info li span:nth-child(2):hover {
  color: white;
}

.info li span {
  color: white;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .sec {
    width: 100%;
  }
}
/* END FOOTER */
